* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(146, 204, 206);
  padding: 60px;
}

.menu h1 {
  font-size: 48px;
  color: slategray;
  background-color: lightblue;
  padding-left: 50px;
  padding-right: 20px;
}

.menu nav {
display: flex;
justify-content: flex-end;
}

.menu li {
  display: flex;
  color: slategray;
  border-bottom: solid;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-banner {
  display: flex;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  height: 350px;
  position: relative;
}

.hero-banner h1 {
  position: absolute;
  right: 50px;
  bottom: 20px;
  font-size: 60px;
  color: aqua;
  background-color: black;
  padding-left: 10px;
  padding-right: 20px;
}

/* .page-wrapper {
  display: flex;
  flex-direction: column;
} */

.about-me {
  display: flex;
  flex-direction: row;
}

.about-me h2 {
  display: flex;
  border-right: solid;
  text-align: justify;
}



/* #about-me {
  display: flex;
  
  border-right: 5px solid darkblue;
}

#about-me-blurb {
  grid-template-columns: about-me-blub;
  margin: 15px;
} */

/* .work {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  display: grid;
  align-content: end;
} */

#work-1 {
  width: 100%;
  height: 250px;
  background-image: url("../images/02-portfolio-1.jpg");
}

#work-2 {
  /* grid-area: work-2;
  width: 50%;
  height:200px; */
  background-image: url("../images/02-portfolio-2.jpg");
}

#work-3 {
  /* grid-area: work-3;
  width: 50%;
  height:200px; */
  background-image: url("../images/02-portfolio-3.jpg");
}

#work-4 {
  /* grid-area: work-4;
  width: 50%;
  height:200px; */
  background-image: url("../images/02-portfolio-4.jpg");
}

#work-5 {
  /* grid-area: work-5;
  width: 50%;
  height:200px; */ 
  background-image: url("../images/02-run-buddy.jpg");
}

/* #contact {
  background-position: bottom;
  background-size: cover;
  margin: 5px;
  display: grid;
  align-content: baseline;
}

#contact-contact {
  background-position: bottom;
  background-size: cover;
  margin: 5px;
  display: grid;
  align-content: baseline;
} */




/* ------ */
.section {
  display: flex;
}

.title {
  text-align: center;
  border-right: 5px solid black;
  border-width: 10px;
}

#work-header {
  padding-top: 30px;
}

.section-title {
  width: 35%;
  padding-right: 35px;
  font-size: 40px;
}

#about-me-blurb {
  margin-left: 5.5px;
  margin-right: 150px;
  text-align: justify;
  font-size: 20px;
}

.section-content {
  width: 75%;
  padding-top: 10px;
  /* text-align: left; */
}

#portfolio-cont {
  text-align: left;
}

#contact-items {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}

#portfolio-cont {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
  border: solid rgb(182, 120, 40);
  margin-right: 140px;
}

/* portfolio images */
.port-img {
  width: 48%;
  height: 200px;
  margin: 10px;
}
#work-1 {
  width: 97.2%;
  height: 350px;
}




@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
  }
  .section-title {
    width: 100%;
  }
  .title {
    text-align: center;
  }
  .section-content {
    width: 100%;
  }
  .port-img {
    width: 100%;
  }
  .menu {
    flex-direction: column;
  }
  #contact-items {
    flex-direction: column;
  }
}