* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(146, 204, 206);
  padding: 60px;
}

.menu h1 {
  font-size: 48px;
  color: slategray;
  background-color: lightblue;
  padding-left: 50px;
  padding-right: 20px;
}

.menu nav {
display: flex;
justify-content: flex-end;
}

.menu li {
  display: flex;
  color: slategray;
  border-bottom: solid;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  height: 350px;
  position: relative;
}

.hero-banner h1 {
  position: absolute;
  right: 50px;
  bottom: 20px;
  font-size: 60px;
  color: aqua;
  background-color: black;
  padding-left: 10px;
  padding-right: 20px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.about-me {
  display: flex;
  flex-direction: row;
}

.about-me h2 {
  display: flex;
  border-right: solid;
  text-align: justify;
}

.page-wrapper {
  margin: 10px;
  display: grid;
  grid-template-rows: 1fr 300px 300px 300px 300px 1fr;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas: 
      "about-me about-me-blurb about-me-blurb"
      "work-header work-1 work-1"
      "work-header work-1 work-1"
      "work-header work-2 work-3"
      "work-header work-4 work-5"
      "contact contact-contact contact-contact";
}

#about-me {
  grid-area: about-me;
  border-right: 5px solid darkblue;
}

#about-me-blurb {
  grid-template-columns: about-me-blub;
  margin: 15px;
}

.work {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  display: grid;
  align-content: end;
}

#work-1 {
  grid-area: work-1;
  background-image: url("/images/02-portfolio-1.jpg");
}

#work-2 {
  grid-area: work-2;
  background-image: url("/images/02-portfolio-2.jpg");
}

#work-3 {
  grid-area: work-3;
  background-image: url("/images/02-portfolio-3.jpg");
}

#work-4 {
  grid-area: work-4;
  background-image: url("/images/02-portfolio-4.jpg");
}

#work-5 {
  grid-area: work-5;
  background-image: url("/images/02-run-buddy.jpg");
}

#contact {
  background-position: bottom;
  background-size: cover;
  margin: 5px;
  display: grid;
  align-content: baseline;
}

#contact-contact {
  background-position: bottom;
  background-size: cover;
  margin: 5px;
  display: grid;
  align-content: baseline;
}