* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(146, 204, 206);
  padding: 20px
}

h1 {
  font-size: 48px;
  color: slategray;
  background-color: lightblue;
  padding-left: 50px;
  padding-right: 20px;
}

nav {
display: flex;
justify-content: flex-end;
}

nav a {
  display: flex;
  color: slategray;
  border-bottom: solid;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-banner {
  padding: 60px;
  text-align: right;
  background: blue;
  color: white;
  font-size: 30px;
}
